.date-day {
  font-family: DIN Next LT Pro Bold;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.02em;
  color: #ffffff;
}

.date-month-year {
  font-family: Share Tech Mono;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
}

.date-building {
  font-family: DIN Next LT Pro Bold;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -0.02em;
  color: #ffffff;
}

.date-city {
  font-family: Share Tech Mono;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
}
