.button {
    background-color: #0000ff;
    color: white;
    border-radius: 60px;
    border-style: none;
    transition: 200ms;
    outline: none;
    font-family: "Medium";
    font-size: 18px;
    padding: 22px 32px;
    display: inline-block;
    cursor: pointer;
}

.button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px 0 rgba(0, 0, 255, 0.25);
}

.button:disabled {
    background-color: #bfbfbf;
}

.button:active {
    transform: scale(1.0);
}