.button {
    background-color: #0000ff;
    color: white;
    border-radius: 60px;
    border-style: none;
    transition: 200ms;
    outline: none;
    font-family: "Medium";
    font-size: 18px;
    padding: 22px 32px;
    display: inline-block;
    cursor: pointer;
}

.button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px 0 rgba(0, 0, 255, 0.25);
}

.button:disabled {
    background-color: #bfbfbf;
}

.button:active {
    transform: scale(1);
}

.button-enroll {
    color: #0000ff;
    background-color: white;
    border-radius: 0;
    padding: 8px 16px 4px 16px;
}

.button-enroll:hover {
    border-radius: 100px;
    box-shadow: none;
    background: rgba(0, 0, 255, 0.12);
}

.button-primary{
    // display: flex;
    // flex-direction: row;
    width: 147px;
    height: 46px;
    padding: 12px 20px;
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    // font-family: DINNextLTPro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    align-items: center;
    text-align: center;
    color: rgba(0, 0, 0, 0.72);
}

.button-secondary{
    // display: flex;
    // flex-direction: row;
    width: 147px;
    height: 46px;
    padding: 12px 20px;
    background: #000060;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    // font-family: DINNextLTPro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    align-items: center;
    text-align: center;
    color: rgba(255, 255, 255, 0.92);
}

.button-ghost{
    width: 123px;
    height: 34px;
    padding: 8px 12px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 61, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
    font-family: Share Tech Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    // display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.56);
}