.container {
  height: 540px;
  width: 100%;
  text-align: center;
}

.front {
  padding: 40px;
  img {
    width: 100%;
  }
}

.back {
  padding: 40px;
}

.subtitle {
  font-family: "Regular";
  font-size: 24px;
  font-weight: bold;
  line-height: 0.94;
  color: #0000ff;
}

.content {
  font-family: "Regular";
  font-size: 24px;
  color: #22224b;
}
