.small-card {
    padding: 24px;
    border-radius: 4px;
    box-shadow: 0 10px 44px 0 rgba(0, 0, 0, 0.1);
    // margin-bottom: 16px;
}

.small-card-text {
    font-family: "Bold";
    font-size: 24px;
    color: #22224b;
}

.small-card-time {
    float: right;
    margin-top: 4px;
    font-size: 18px;
    font-family: 'Medium';
    color: #7c7ca5;
}

.card-section {
    margin: 24px 0px;
}

@media screen and (max-width: 768px) {

    .small-card-text {
        font-size: 18px;
    }

    .small-card-time {
        font-size: 14px;
    }

}