.sign-up-card {
    border-radius: 4px;
    box-shadow: 0 10px 44px 0 rgba(0, 0, 0, 0.1);
    padding: 24px;
    margin-bottom: 16px;
    position: relative;
}

.project-card-title {
    font-size: 24px;
    line-height: 0.94;
    color: #22224b;
    font-family: "Bold";
    margin-bottom: 16px;
}

.project-student {
    font-size: 8px;
    color: #7c7ca5;
    font-family: "Regular";
}

.project-student-icon {
    margin-bottom: -1px;
    margin-right: 4px;
}