.header-wrapper {
    margin-bottom: 32px;
}

.img {
    width: 100%;
    -webkit-filter: grayscale(100%);
       -moz-filter: grayscale(100%);
         -o-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
            filter: grayscale(100%);  
}

@media screen and (max-width: 768px) {
    .hideProject{
        display:none;
    }
}