@font-face {
    font-family: Bold;
    src: url(./Fonts/DINNextLTPro-Bold.otf);
}

@font-face {
    font-family: Heavy;
    src: url(./Fonts/DINNextLTPro-Heavy.otf);
}

@font-face {
    font-family: Light;
    src: url(./Fonts/DINNextLTPro-Light.otf);
}

@font-face {
    font-family: Medium;
    src: url(./Fonts/DINNextLTPro-Medium.otf);
}

@font-face {
    font-family: Regular;
    src: url(./Fonts/DINNextLTPro-Regular.otf);
}

body {
    margin: 0;
}

.center-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.add-blur {
    filter: blur(10px);
    -webkit-filter: blur(10px);
}